<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Hello World</title>
	<style type="text/css">
		body, html {
			margin: 0;
		    padding: 0;
		    width: 100%;
		}
		body {
		    font-weight: 400;
		    font-size: 14px;
		}
		#container {
			width: 100%;
			margin: 0px auto;
			text-align: center;
		}
		.title {
			font-size: 50px;
			font-weight: bold;
			display: block;
			height: auto;
			margin: 60px;
		}
		.title_img {
			width: 300px;
		}
	</style>
</head>
<body>
	<div id="container">
		<div id="top_box">
			<span class="title">Hello World!!</span>
			<!-- <span class="title">只争朝夕 不负韶华, 中国加油！</span> -->
			<img class="title_img" src="../images/springboot.jpg" alt="" />
		</div>
	</div>
</body>
</html>